/*
sets the back ground color and text color
*/
body{
    background-color: black;
    text-align: center;
    color: white;
    font-family: Alef , sans-serif, serif, 'Courier New', Courier, monospace;
}
/*
horizontal divider that acts as a partition
*/
hr{
    display:block;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
/*
setting font-size and weight for the title
*/
h1{
    font-size: 48px;
    font-weight: bold;
}
/*
Aligns the main content of the page in the respective flex box and with the required alignments
*/
.content{
    flex: 60%;
    
    margin-top: 8%;
    justify-content: left;
    text-align: left;
    font-family: Alef, sans-serif,serif, 'Courier New', 'Courier New', Courier, monospace;
    font-size: 36px;
    text-align: justify;
    margin-left:-5%;
    margin-right:2%;
}

/*
font-size and weight for the title. 
*/


header>h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    display: inline;

}
/*
    horizontal line nature and position. 
*/
body > hr{
    display:block;
    color: white;
    margin-top: 10%;
}
/*
    ensures the navs position
*/
#nav{
    display: inline-block;
    margin-right:30%;
    margin-left:-55%;
    margin-top:2%;
}
/*
    ensures the image's position. 
*/
#image{
    flex:40%;
    margin-top:9%;
    display: inline-block;
    margin-left:-5%;
}
/*
    divides the space by creating flex boxes to ensure the picture and text comes side by side. 
*/
#flexcontainer{
    display: flex;
}
/*
ensures the position of home icon
*/

#home{
    display: inline-block;
    margin-right:-52%;
    margin-left:20%;
    margin-top:1%;
}
